body{
    background-color: rgb(137, 197, 212);
}
.myimage{
    height: 180px;
}
h1{
    text-align: center;
    color: rgb(253, 247, 247);
}
.mytext{
    color: rgb(68, 66, 66);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}
.mytitle{
    font-weight: bold;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.colname{
    text-align: center;
    border-color: black;
    border-width: 2px;
}
.colbord{
    border-color: black;
    border-width: 1px;
}